*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 56px;
    color: aliceblue;
}

/* background animation */
body{
    height: 714px;
    width: 100%;
    /* background: linear-gradient(45deg, #000,#ab20fd, #7d12ff, #ab20fd,  #200589, #1c1c1c); */
    background: linear-gradient(45deg, #1f1c1d,#353334, #4c494a, #626061,  #4c494a, #353334, #1f1c1d);
    background-size: 350% 500%;
    background-repeat: no-repeat;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: color;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* navbar */
header{
    position: fixed !important;
    color: antiquewhite;
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 1000 !important;
    /* display: flex !important; */
    align-items: center !important;
    justify-content: space-between !important;
    background: transparent !important;
    /* padding: 25px 15% !important; */
    /* padding-bottom: 50px; */
    transition-duration: .3s !important;
    /* border-bottom: solid #000 1px; */
    /* padding-bottom: -90px; */
    /* background-color: #353334;    */
}

.logo {
    font-size: 30px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    /* border: solid 1px black;
    border-radius: 40%; */
    color: antiquewhite;
    
}

.nav-sty .nav-link li{
    position: relative;
    
}

.nav-sty .nav-link a {
    color: antiquewhite;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
}

.nav-sty .nav-link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #9D00FF;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.nav-sty .nav-link a:hover::after {
    width: 100%;
    
}

.nav-sty .nav-link a:hover {
    color:#1f1c1d;
    background-color: #f3c4fb;
}

.navbar-toggler-icon {
    font-size: 32px;
    color: #000;
    z-index: 10001;
    cursor: pointer;
    /* display: none; */
}

/* header.position-sticky {
    padding: 12px;
    background: #9D00FF;
} */

/* home */
.home {
    height: 640px;
    width: 100%;
    background-image: url(../Assets/image/land.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.home-text {
    padding: 120px 15%;
    color: #000;
}

.home-text h1{
    margin: 20px 0px 20px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    text-shadow: 14px #9D00FF;
}

span {
    color: #9d4edd;
}

.home-text h3 {
    font-size: 25px;
    margin-bottom: 55px;
}

.home-text h4{
    color: #1c1c1c;
    font-size: 20px;
    letter-spacing: 2px;
}

.d-btn{
    background-color: #9d4edd;
    padding: 14px;
    color: #000;
    font-weight: 27px;
    position: relative;
    border-radius: 19px;
    box-shadow: 0px 0px 6px #9D00FF, 0px 0px 14px #000;
    cursor: pointer;
    top: -10px;
    margin-left: 200px;
    margin-top: 0px;
}

.d-btn a:link{
    color: black;
    text-decoration: none;
}

.d-btn a:active{
    color: #000;
}

.d-btn a:hover{
    color: #1c1c1c;
}

.d-btn a:visited{
    color: #1c1c1c;
}

/* about */
.about-sec {
    background: #4c494a;
    border-radius: 50px;
    border-left: -50px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 32px;
    margin-top: 20px;
}

.about-img img{
    max-width: 100%;
    width: 590px;
    height: 650px;
    /* border-left: 10px;
    padding-left: 10px; */
    border-radius: 10px;
    margin: 20px 15%;
}

.about-text h2 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.about-text pre{
    color:#e7c6ff;
    letter-spacing: 1px;
    line-height: 29px;
    max-width: 590px;
    font-size:medium;
    margin-bottom: 15px;
}

/* work/education/skill */
/* Edu Timeline */

.timeline {
  display: grid;
  align-content: center;
  gap: 32px;
  padding: 27px;
}

.head-text {
  text-align: center;
}

.timeline-list {
  --col-gap: 32px;
  --row-gap: 32px;
  --line-w: 4px;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  column-gap: 32px;
  list-style: none;
  width: min(960px, 90%);
  margin-inline: auto;
}

/* line */
.timeline-list::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: #9D00FF;
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline-list li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline-list li {
  grid-column: 2;
  --inlineP: 24px;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline-list li .date {
  --dateH: 48px;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: #b185db;

  color: azure;
  font-size: 20px;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline-list li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: #6247aa;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent); */
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline-list li .date::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 4.8px solid #5603ad;
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline-list li .title,
.timeline-list li .descr {
  /* background: var(--bgColor); */
  position: relative;
  padding-inline: 24px;
}
.timeline-list li .title {
  overflow: hidden;
  padding-block-start: 24px;
  padding-block-end: 16px;
  font-weight: 500;
}
.timeline-list li .descr {
  padding-block-end: 24px;
  font-weight: 300;
}

/* shadows */
.timeline-list li .title::before,
.timeline-list li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 8px;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline-list li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline-list li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .timeline-list {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline-list::before {
    grid-column: 2;
  }
  .timeline-list li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline-list li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline-list li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline-list li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline-list li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline-list li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

/* content */

.wes-h,.wes-p, .wes-h-h {
    color: azure;
    letter-spacing: 1px;
    line-height: 29px;
    font-size: medium;
}

.wes-h {
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline #1c1c1c;
    padding: 10px;
}

.wes-h-h {
    letter-spacing: 1px;
    text-decoration: underline;
}

.lang img {
        width: 50px;
        height: 50px;
}


